<div class="container">
  <div class="row">
    <div class="row nova-radna-lista-row">
      <div class="col-sm">
        <button mat-raised-button color="primary" class="button" (click)="onNovaRadnaLista()">
          Nova radna lista
        </button>
      </div>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row pretraga-row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Sifra radne liste</mat-label>
        <input matInput [(ngModel)]="this.radnaListaId">
        <mat-hint>{{ radnaListaIdErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="button pretraga-btn" (click)="onPronadjiRadnuListu()">
        Pronadji radnu listu
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row info-row">
    <div class="col-sm-4 mat-typography tekst-col">
      <h4>Radna lista ID:</h4>
    </div>
    <div class="col-sm-4">
      <div class="id-box">
        <p>{{ radnaListaIzabranId }}</p>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <app-nova-radna-lista *ngIf="this.radnaListaIzabranId != ''" [openInComponent]="true"></app-nova-radna-lista>

  <mat-divider></mat-divider>

  <div class="row nav-row">
    <div class="col-sm-8">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onIzmeniRadnuListu()">
        Izmeni radnu listu
      </button>
    </div>

    <div class="col-sm-4">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onObrisiRadnuList()">
        Obrisi radnu listu
      </button>
    </div>
  </div>
</div>
