.container {
  width: 100%;
  height: 100%;

  padding: 5%;

  overflow: auto;

  font-size: 16px;

  .row {
    margin: 0;
    padding: 0;

    .col-sm {
      margin: 0;
      padding: 0;
    }
  }

  mat-hint {
    color: red;
  }

  mat-divider {
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  // .button {
  //   border: solid 1px rgb(0, 0, 0, 0.85);
  //   border-radius: 11px;

  //   background-color: transparent;
  //   color: black;

  //   box-shadow: none;
  // }

  .nova-radna-lista-row {
    margin-top: 20px;
  }

  .pretraga-row {
    margin-top: 30px;
  }

  .pretraga-btn {
    margin-top: 21px;
  }

  .info-row {
    margin-top: 20px;
  }

  .tekst-col {
    padding-top: 3px;
  }

  .id-box {
    height: 30px;
    width: 30px;

    border: solid 1px black;

    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}
