<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="col-sm mat-typography">
        <h2>Novi prozivod</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Debljina stakla</mat-label>
        <input matInput [(ngModel)]="this.debljina">
        <mat-hint>{{ debljinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Duzina</mat-label>
        <input matInput [(ngModel)]="this.duzina">
        <mat-hint>{{ duzinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Sirina</mat-label>
        <input matInput [(ngModel)]="this.sirina">
        <mat-hint>{{ sirinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Visina</mat-label>
        <input matInput [(ngModel)]="this.visina">
        <mat-hint>{{ visinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="tip-proizvoda-field" appearance="fill">
        <mat-label>Tip proizvoda</mat-label>
        <mat-select>
          <mat-option *ngFor="let tipProizvoda of tipoviProizvoda" [value]="tipProizvoda.naziv" (click)="onTipProzivodaSelect(tipProizvoda)">
            {{tipProizvoda.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row nav-row">
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onDodaj()">
        Dodaj
      </button>
    </div>

    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onNazad()">
        Nazad
      </button>
    </div>
  </div>
</div>
