.container {
  width: 100%;
  height: 100%;

  position: relative;

  overflow: auto;

  font-size: 16px;

  color: black;

  .row {
    margin: 0;
    padding: 0;

    .col-sm {
      margin: 0;
      padding: 0;
    }
  }

  mat-hint {
    color: red;
  }

  .tip-proizvoda-field {
    margin-top: 40px;
  }

  ::ng-deep .mat-form-field-flex {
    background: white;
  }

  .nav-row {
    width: 90%;
    padding-bottom: 20px;

    position: absolute;
    bottom: 0;

    margin-top: 40px;

    button {
      font-size: 16px;
    }

    .col-sm-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
