<div class="container">
  <div class="row novi-proizvod-row">
    <div class="col-sm">
      <button mat-raised-button color="primary" class="button" (click)="onNoviProizvod()">
        Novi proizvod
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="row pretraga-row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>ProizvodID</mat-label>
        <input matInput [(ngModel)]="this.proizvodId">
        <mat-hint>{{ proizvodIdErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="button pretraga-btn" (click)="onPretraga()">
        Pretraga
      </button>
    </div>
  </div>

  <div class="row table-row">
    <table class="otpremnica-table" mat-table [dataSource]="proizvodiTableData">
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.id}} </td>
      </ng-container>
      <ng-container matColumnDef="debljina">
        <th mat-header-cell *matHeaderCellDef> debljina </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.debljina}} </td>
      </ng-container>
      <ng-container matColumnDef="duzina">
        <th mat-header-cell *matHeaderCellDef> duzina </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.duzina}} </td>
      </ng-container>
      <ng-container matColumnDef="sirina">
        <th mat-header-cell *matHeaderCellDef> sirina </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.sirina}} </td>
      </ng-container>
      <ng-container matColumnDef="visina">
        <th mat-header-cell *matHeaderCellDef> visina </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.visina}} </td>
      </ng-container>
      <ng-container matColumnDef="tip">
        <th mat-header-cell *matHeaderCellDef> tip proizvoda </th>
        <td mat-cell *matCellDef="let object" (click)="onTableRowSelect(object)"> {{object.tipProizvoda.naziv}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="proizvodiDisplayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: proizvodiDisplayColumns" [ngClass]="{'selected': row.selected}"></tr>
    </table>
  </div>

  <div class="row fields-row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Debljina stakla</mat-label>
        <input matInput [(ngModel)]="this.debljina" [disabled]="this.selektovaniProizvod == undefined || this.selektovaniProizvod == null">
        <mat-hint>{{ debljinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Duzina</mat-label>
        <input matInput [(ngModel)]="this.duzina" [disabled]="this.selektovaniProizvod == undefined || this.selektovaniProizvod == null">
        <mat-hint>{{ duzinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Sirina</mat-label>
        <input matInput [(ngModel)]="this.sirina" [disabled]="this.selektovaniProizvod == undefined || this.selektovaniProizvod == null">
        <mat-hint>{{ sirinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Visina</mat-label>
        <input matInput [(ngModel)]="this.visina" [disabled]="this.selektovaniProizvod == undefined || this.selektovaniProizvod == null">
        <mat-hint>{{ visinaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <mat-form-field class="tip-proizvoda-field" appearance="fill">
        <mat-label>Tip proizvoda</mat-label>
        <mat-select [(value)]="this.selektovaniTipProzivodaID" [disabled]="this.selektovaniProizvod == undefined || this.selektovaniProizvod == null">
          <mat-option *ngFor="let tipProizvoda of tipoviProizvoda" [value]="tipProizvoda.id" (click)="onTipProzivodaSelect(tipProizvoda)">
            {{tipProizvoda.naziv}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row nav-row">
    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onIzmeni()">
        Izmeni
      </button>
    </div>

    <div class="col-sm-6">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onObrisi()">
        Obrisi
      </button>
    </div>
  </div>
</div>
