.container {
  width: 100%;
  height: 100%;

  padding: 5%;

  overflow: auto;

  font-size: 16px;

  .row {
    margin: 0;
    padding: 0;

    .col-sm {
      margin: 0;
      padding: 0;
    }
  }

  // .button {
  //   border: solid 1px rgb(0, 0, 0, 0.85);
  //   border-radius: 11px;

  //   background-color: transparent;
  //   color: black;

  //   box-shadow: none;
  // }

  .novi-proizvod-row {
    margin-top: 20px;
  }

  .pretraga-row {
    margin-top: 30px;

    .pretraga-btn {
      margin-top: 21px;
    }
  }

  mat-hint {
    color: red;
  }

  mat-divider {
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .table-row {
    table {
      margin-top: 30px;

      width: 100%;

      border: solid 1px black;
      border-bottom-width: 2px;
      border-top-width: 2px;

      tr.selected {
        background: rgb(151, 151, 151);
      }
    }
  }

  ::ng-deep .mat-form-field-flex {
    background: white;
  }

  .tip-proizvoda-field {
    margin-top: 40px;
  }

  .fields-row {
    margin-top: 30px;
  }

  .nav-row {
    width: 100%;
    padding-bottom: 20px;

    margin-top: 40px;

    button {
      font-size: 16px;
    }

    .col-sm-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
