.container-fluid {
  height: 80%;

  .row {
    height: 100%;

    padding: 0;
    margin: 0;

    .col-sm {
      height: 100%;
      padding: 0;
      margin: 0;

      display: grid;
      justify-content: center;
      align-items: center;

      h2 {
        margin-left: 30px;
        margin-right: 30px;
        text-align: center;
      }
    }
  }
}
