.container-fluid {
  height: 100vh;
  width: 500px;

  margin: auto;
  margin-bottom: 0;

  background: rgb(14, 14, 14);
}

.nav-wrapper {
  display: flex;
  flex-flow: column;

  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;

  background-color: white;
}

.nav-item {
  font-size: 21px;

  width: 50%;
  text-align: center;
}

.active {
  background-color: rgb(156, 156, 156);

  color: black;
}

.nav li a:hover {
  background-color: rgb(156, 156, 156);
  border-color: rgb(156, 156, 156);

  cursor: default;
}

.nav {
  background-color: rgb(228, 228, 228);
  padding-bottom: 1px;
  border-bottom: solid 2px black;
}

.tab-content {
  flex-grow: 1;
  overflow: auto;
}
