<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="nav-wrapper">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link first-item" data-toggle="tab" role="tab" [ngClass]="this.firstTabSelected ? 'active' : ''" (click)="onProstSlucaj()">Prost slucaj</a>
          </li>
          <li class="nav-item">
            <a class="nav-link second-item" data-toggle="tab" role="tab" [ngClass]="this.secondTabSelected ? 'active' : ''"  (click)="onSlozenSlucaj()">Slozen slucaj</a>
          </li>
        </ul>

        <div class="tab-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
