<div class="container" [ngClass]="openInComponent ? 'grayed' : ''">
  <div class="row" *ngIf="!openInComponent">
    <div class="col-sm mat-typography">
      <h2>Nova radna lista</h2>
    </div>
  </div>

  <div class="row radnik-row">
    <div class="col-sm">
      <div class="col-sm-6">
        <mat-form-field appearance="standard">
          <mat-label>Sifra radnika</mat-label>
          <input matInput [(ngModel)]="this.sifraRadnika">
          <mat-hint>{{ sifraRadnikaErrorMessage }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="primary" class="button pretraga-btn" (click)="onPretragaRadnika()">
          Pronadji radnika
        </button>
      </div>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-sm">
      <table class="otpremnica-table" mat-table [dataSource]="radniciTableData">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let object"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="jmbg">
          <th mat-header-cell *matHeaderCellDef> JMBG </th>
          <td mat-cell *matCellDef="let object"> {{object.jmbg}} </td>
        </ng-container>
        <ng-container matColumnDef="imePrezime">
          <th mat-header-cell *matHeaderCellDef> Ime prezime </th>
          <td mat-cell *matCellDef="let object"> {{object.imePrezime}} </td>
        </ng-container>
        <ng-container matColumnDef="radnoMesto">
          <th mat-header-cell *matHeaderCellDef> Radno mesto </th>
          <td mat-cell *matCellDef="let object"> {{object.radnoMesto}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="radniciDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: radniciDisplayColumns"></tr>
      </table>
    </div>
  </div>

  <div class="row tovarni-list-row">
    <div class="col-sm">
      <div class="col-sm-6">
        <mat-form-field appearance="standard">
          <mat-label>Sifra tovarnog lista</mat-label>
          <input matInput [(ngModel)]="this.sifraTovarnogLista">
          <mat-hint>{{ sifraTovarnogListaErrorMessage }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="primary" class="button pretraga-btn" (click)="onPretragaTovarnogLista()">
          Pronadji tovarni list
        </button>
      </div>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-sm">
      <table mat-table [dataSource]="tovarneListeTableData">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let object"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="vrstaPosiljke">
          <th mat-header-cell *matHeaderCellDef> vrsta posiljke </th>
          <td mat-cell *matCellDef="let object"> {{object.vrstaPosiljke}} </td>
        </ng-container>
        <ng-container matColumnDef="nacinPrevoza">
          <th mat-header-cell *matHeaderCellDef> nacin prevoza </th>
          <td mat-cell *matCellDef="let object"> {{object.nacinPrevoza}} </td>
        </ng-container>
        <ng-container matColumnDef="radnikId">
          <th mat-header-cell *matHeaderCellDef> radnik ID </th>
          <td mat-cell *matCellDef="let object"> {{object.radnikId}} </td>
        </ng-container>
        <ng-container matColumnDef="klijentId">
          <th mat-header-cell *matHeaderCellDef> klijent ID </th>
          <td mat-cell *matCellDef="let object"> {{object.klijentId}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tovarneListeDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tovarneListeDisplayColumns"></tr>
      </table>
    </div>
  </div>

  <div class="row radni-nalog-row">
    <div class="col-sm">
      <div class="col-sm-6">
        <mat-form-field appearance="standard">
          <mat-label>Sifra radnog naloga</mat-label>
          <input matInput [(ngModel)]="this.sifraRadnogNaloga">
          <mat-hint>{{ sifraRadnogNalogaErrorMessage }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="primary" class="button pretraga-btn" (click)="onPretragaRadnogNaloga()">
          Pronadji radni nalog
        </button>
      </div>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-sm">
      <table mat-table [dataSource]="radniNaloziTableData">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let object"> {{object.id}} </td>
        </ng-container>
        <ng-container matColumnDef="datum">
          <th mat-header-cell *matHeaderCellDef> datum </th>
          <td mat-cell *matCellDef="let object"> {{dateFormat(object.datum)}} </td>
        </ng-container>
        <ng-container matColumnDef="brojPonude">
          <th mat-header-cell *matHeaderCellDef> broj ponude </th>
          <td mat-cell *matCellDef="let object"> {{object.brojPonude}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="radniNaloziDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: radniNaloziDisplayColumns"></tr>
      </table>
    </div>
  </div>

  <div class="row datum-row">
    <div class="col-sm">
      <mat-form-field class="datum" appearance="standard">
        <mat-label>Datum</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datum">
        <mat-hint>{{ datumErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row prisustva-row">
    <div class="col-sm mat-typography">
      <h3>Prisustva</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <mat-form-field style="width: 120px;" class="datum" appearance="standard">
        <mat-label>Datum prisustva</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumPrisustva">
        <mat-hint>{{ datumPrisustvaErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-7">
      <mat-form-field class="vrsta-prisustva-field" appearance="fill">
        <mat-label>Vrsta prisustva</mat-label>
        <mat-select [(value)]="this.selektovanaVrstaPrisustva">
          <mat-option *ngFor="let vrstaPrisustva of vrstePrisustva" [value]="vrstaPrisustva">
            {{vrstaPrisustva}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <mat-form-field class="opis-field">
        <mat-label>Opis</mat-label>
        <textarea matInput
           placeholder="Opis"
           style="resize:both" [(ngModel)]="this.opis"></textarea>
           <mat-hint>{{ opisErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <div class="row prisustva-kontrole-row">
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onDodajStavkuPrisustva()">
        Dodaj stavku
      </button>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onIzmeniStavkuPrisustva()">
        Izmeni stavku
      </button>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onObrisiStavkuPrisustva()">
        Obrisi stavku
      </button>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-sm">
      <table mat-table [dataSource]="prisustvaTableData">
        <ng-container matColumnDef="RBR">
          <th mat-header-cell *matHeaderCellDef> RBR </th>
          <td mat-cell *matCellDef="let object" (click)="onPrisustvoTableRowSelect(object)"> {{object.rbr}} </td>
        </ng-container>
        <ng-container matColumnDef="vrstaPrisustva">
          <th mat-header-cell *matHeaderCellDef> vrsta prisustva </th>
          <td mat-cell *matCellDef="let object" (click)="onPrisustvoTableRowSelect(object)"> {{object.vrstaPrisustva}} </td>
        </ng-container>
        <ng-container matColumnDef="datumPrisustva">
          <th mat-header-cell *matHeaderCellDef> datum </th>
          <td mat-cell *matCellDef="let object" (click)="onPrisustvoTableRowSelect(object)"> {{dateFormat(object.datumPrisustva)}} </td>
        </ng-container>
        <ng-container matColumnDef="opis">
          <th mat-header-cell *matHeaderCellDef> opis </th>
          <td mat-cell *matCellDef="let object" (click)="onPrisustvoTableRowSelect(object)"> {{object.opis}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="prisustvaDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: prisustvaDisplayColumns" [ngClass]="{'selected': row.selected}"></tr>
      </table>
    </div>
  </div>

  <div class="row prisustva-row">
    <div class="col-sm mat-typography">
      <h3>Odsustva</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="standard">
        <mat-label>Broj odluke</mat-label>
        <input matInput [(ngModel)]="this.brojOdluke">
        <mat-hint>{{ brojOdlukeErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="datum" appearance="standard">
        <mat-label>Datum od</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumOd">
        <mat-hint>{{ datumOdErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field class="datum" appearance="standard">
        <mat-label>Datum do</mat-label>
        <input matInput placeholder="yyyy-mm-dd" [(ngModel)]="this.datumDo">
        <mat-hint>{{ datumDoErrorMessage }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="vrsta-odsustva-field" appearance="fill">
        <mat-label>Vrsta odsustva</mat-label>
        <mat-select [(value)]="this.selektovanaVrstaOdsustva">
          <mat-option *ngFor="let vrstaOdsustva of vrsteOdsustva" [value]="vrstaOdsustva">
            {{vrstaOdsustva}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row odsustva-kontrole-row">
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onDodajStavkuOdsustva()">
        Dodaj stavku
      </button>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onIzmeniStavkuOdsustva()">
        Izmeni stavku
      </button>
    </div>
    <div class="col-sm-4">
      <button mat-raised-button color="primary" (click)="onObrisiStavkuOdsustva()">
        Obrisi stavku
      </button>
    </div>
  </div>

  <div class="row table-row">
    <div class="col-sm">
      <table mat-table [dataSource]="odsustvaTableData">
        <ng-container matColumnDef="RBR">
          <th mat-header-cell *matHeaderCellDef> RBR </th>
          <td mat-cell *matCellDef="let object" (click)="onOdsustvoTableRowSelect(object)"> {{object.rbr}} </td>
        </ng-container>
        <ng-container matColumnDef="brojOdluke">
          <th mat-header-cell *matHeaderCellDef> broj odluke </th>
          <td mat-cell *matCellDef="let object" (click)="onOdsustvoTableRowSelect(object)"> {{object.brojOdluke}} </td>
        </ng-container>
        <ng-container matColumnDef="vrstaOdsustva">
          <th mat-header-cell *matHeaderCellDef> vrsta odsustva </th>
          <td mat-cell *matCellDef="let object" (click)="onOdsustvoTableRowSelect(object)"> {{object.vrstaOdsustva}} </td>
        </ng-container>
        <ng-container matColumnDef="datumOd">
          <th mat-header-cell *matHeaderCellDef> datum od </th>
          <td mat-cell *matCellDef="let object" (click)="onOdsustvoTableRowSelect(object)"> {{dateFormat(object.datumOd)}} </td>
        </ng-container>
        <ng-container matColumnDef="datumDo">
          <th mat-header-cell *matHeaderCellDef> datum do </th>
          <td mat-cell *matCellDef="let object" (click)="onOdsustvoTableRowSelect(object)"> {{dateFormat(object.datumDo)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="odsustvaDisplayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: odsustvaDisplayColumns" [ngClass]="{'selected': row.selected}"></tr>
      </table>
    </div>
  </div>

  <div class="row nav-row" *ngIf="!openInComponent">
    <div class="col-sm-8">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onSacuvajRadnuListu()">
        Sacuvaj radnu listu
      </button>
    </div>

    <div class="col-sm-4">
      <button mat-raised-button color="primary" class="sacuvaj-btn" (click)="onNazad()">
        Nazad
      </button>
    </div>
  </div>
</div>
