.container {
  width: 100%;
  height: 100%;

  position: relative;

  overflow: auto;

  font-size: 16px;

  color: black;

  scrollbar-width: none;

  .row {
    margin: 0;
    padding: 0;

    .col-sm {
      margin: 0;
      padding: 0;
    }
  }

  &.grayed {
    border: solid 3px black;

    padding-bottom: 30px;
  }

  mat-hint {
    color: red;
  }

  mat-divider {
    border-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ::ng-deep .mat-form-field-flex {
    background: white;
  }

  .pretraga-btn {
    margin-top: 21px;
  }

  .table-row {
    table {
      margin-top: 10px;

      width: 100%;

      border: solid 1px black;
      border-bottom-width: 2px;
      border-top-width: 2px;

      tr.selected {
        background: rgb(151, 151, 151);
      }
    }
  }

  .tovarni-list-row {
    margin-top: 30px;
  }

  .radni-nalog-row {
    margin-top: 30px;
  }

  .datum-row {
    margin-top: 30px;
  }

  .prisustva-row {
    margin-top: 30px;
  }

  .opis-field {
    margin-left: 15px;
  }

  .prisustva-kontrole-row {
    margin: 0;
    padding: 0;

    margin-top: 20px;

    .col-sm-4 {
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 13px;
      }
    }
  }

  .odsustva-kontrole-row {
    margin: 0;
    padding: 0;

    margin-top: 20px;

    .col-sm-4 {
      margin: 0;
      padding: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      button {
        font-size: 13px;
      }
    }
  }

  .nav-row {
    width: 90%;
    padding-bottom: 20px;

    margin-top: 40px;

    button {
      font-size: 16px;
    }

    .col-sm-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
